body {
background: linear-gradient(135deg, #8b5cf6 0%, #250b4d 40%, #0f0f0f 100%);
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.input-area input{
  padding: 0.8em 1em;
  width: 250px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.input-area input:focus {
  border: 1px solid #9b5cff;
  box-shadow: 0 0 10px rgba(155, 92, 255, 0.6);
}


.input-area button{
  padding: 0.8em 1em;
  width: auto;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {

  margin-top: 20px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


.read-the-docs {
  color: #e42d2d;
}
